{
    "GPIO_OUT": [
        {
            "STARTUP": 1, 
            "PIN": 19
        }, 
        {
            "STARTUP": 1, 
            "PIN": 26
        }
    ], 
    "ALTITUDE": {
        "MAX": 550, 
        "NEUTRAL": 470, 
        "ORIENTATION": -1, 
        "CHANNEL": 0, 
        "MIN": 160
    }, 
    "MOTORS": [
        {
        "ID": "MOTOR_1",   
        "TYPE": "ESC",
        "CONFIG": {
            "CHANNEL": 8,
            "DIRECTION": 1, 
            "SPEED_STEP": 5, 
            "SPEED_STOP": 370, 
            "STARTUP_PULSE": 2, 
            "CHANGE_DIR_PAUSE": 2,
            "F.SPEED_MIN": 400, 
            "F.SPEED_START": 405, 
            "F.SPEED_MAX": 460,
            "B.SPEED_MIN": 340, 
            "B.SPEED_START": 335, 
            "B.SPEED_MAX": 250,
            "SERVO.CHANNEL": 2,
            "SERVO.POS_B": 530, 
            "SERVO.POS_N": 400, 
            "SERVO.POS_F": 250
            }
        }
    ], 
    "I2C_ADDR": "0x41", 
    "FREQUENCY": 60, 
    "MIN_STEP_POS": 5, 
    "AZIMUTH": {
        "MAX": 550, 
        "NEUTRAL": 410, 
        "ORIENTATION": 1, 
        "CHANNEL": 1, 
        "MIN": 160
    }, 
    "GPIO_IN": [
        {
            "PULL": "UP", 
            "BOUNCE": 100, 
            "PIN": 17, 
            "CALLBACK": "button_press"
        }
    ], 
    "RELAYS": [
        {
            "ON": 0, 
            "OFF": 4095, 
            "CHANNEL": 6
        }
    ]
}