.conf
**/config/*.json
**/config/backup/*json*
*.py[cod]
.buildinfo
.idea/*
*/.idea
dist
build
*.egg-info
sftp-config.json*
arduino/.pioenvs
arduino/.piolibdeps
arduino/.clang_complete
arduino/.gcc-flags.json
