
/*@import url('range.css');*/
@import url('fonts.css');
@import url('flash.css');
@import url('bootstrap.min.css');
@import url('bootstrap-theme.min.css');

* {
  font-family: 'Lato', sans-serif;
}

div.row {
  margin-top: 10px;
}

.glyphicon, .btn {
  text-shadow: none;
}

textarea.form-config {
  font-family: monospace;
  width: 100%;
  min-height: 500px;
}

h3 {
  margin-top: 0;
}

img.logo {
  margin-right: 10px;
  width: 60px;
}

div.controls {
  position: relative;
  max-width: 1024px;
}

div.view-controls {
  position: absolute;
  left: 10px;
  max-width: 50%;
}

div.motion-controls {
  position: absolute;
  right: 10px;
  max-width: 50%;
}

#pwm-status {
  display: none;
}

#pwm-status span {
  font-weight: bold;
}

#video {
  width: 100%;
  max-width: 1024px;
  min-width: 315px;
  max-height: 768px;
}

#view-controls > table td, #motion-controls > table td, #diagnostic > table td  {
  padding: 3px;
  text-align: center;
}

#view-controls > table th, #motion-controls > table th, #diagnostic > table th {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid silver;
}
