<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PCA9685 RPi web interface</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">

  </head>
  <body>

    <form>
      <label for="freq">Frequency</label>
      <input type="range" id="freq" name="freq" value="{{freq}}">
      <input type="button" value="Set" id="set_freq">

      <table>
        <tr>
          <th>Channel</th>
          <th>Start</th>
          <th>End</th>
          <th>Pulse</th>
          <th></th>
        </tr>

        {{#channels}}
          <tr id="pwm_{{index}}">
            <td>PWM #{{index}}</td>
            <td><input name="channel_{{index}}_start" value="{{start}}" type="range"></td>
            <td><input name="channel_{{index}}_end" value="{{end}}" type="range"></td>
            <td id="pulse_{{index}}"></td>
            <td><input type="button" value="Set" data-index="{{index}}" class="set_pwm"></td>
          </tr>
        {{/channels}}

      </table>

      <input type="button" value="Set all!" id="set_all">

    </form>

    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/pca9685.js"></script>
    <script src="static/js/app.js"></script>
  </body>

</html>
