{
  "SERVER_ADDRESS": "0.0.0.0",
  "SERVER_PORT": 8000,
  "SERVER_MULTITHREADED": true,
  "STATIC_URL_PREFIX": "/static",
  "STATIC_CACHE" : 604800,
  "NETWORK_INTERFACE": ["wlan1", "eth0"],
  "KEEP_ALIVE": {
    "CHANNEL": 15,
    "INTERVAL": 5,
    "MIN": 160,
    "MAX": 500
  },
  "CAMERA_URL": "http://%s:8080/stream/video.mjpeg",
  "ROUTE": {
    "GET": {
      "/": "default_response"
    },
    "POST": {
      "/up": "up",
      "/down": "down",
      "/left": "left",
      "/right": "right",
      "/center": "center",
      "/forward": "forward",
      "/back": "back",
      "/stop": "stop",
      "/speedup": "speedup",
      "/slowdown": "slowdown",
      "/switch": "switch",
      "/set_pwm": "set_pwm",
      "/switch_pwm": "switch_pwm",
      "/sequence_pwm": "sequence_pwm"
    }
  },
  "I2C_ADDR": "0x41",
  "FREQUENCY": 60,
  "MIN_STEP_POS": 5,
  "CHANGE_DIR_PAUSE": 2,
  "STARTUP_PULSE": 2,
  "AZIMUTH": {
    "CHANNEL" : 1,
    "ORIENTATION": 1,
    "MIN": 160,
    "MAX": 550,
    "NEUTRAL": 340
  },
  "ALTITUDE": {
    "CHANNEL" : 0,
    "ORIENTATION": -1,
    "MIN": 160,
    "MAX": 550,
    "NEUTRAL": 340
  },
  "MOTORS": [
    {
      "CHANNEL": 4,
      "TYPE": "B",
      "SPEED_STEP": 5,
      "SPEED_STOP": 370,
      "DIRECTION": 1,
      "F": {
        "SPEED_START": 410,
        "SPEED_MIN": 405,
        "SPEED_MAX": 500
      },
      "B": {
        "SPEED_START": 335,
        "SPEED_MIN": 340,
        "SPEED_MAX": 220
      },
      "SERVO": {
        "CHANNEL": 8,
        "POS_F": 530,
        "POS_B": 530,
        "POS_N": 160
      }
    }
  ],
  "RELAYS": [
      7
  ]
}
