<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{TITLE}} configuration</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">

  </head>
  <body>
    <div class="container">

    <div class="row">
      <div class="col-md-12">

        <h2>Configuration</h2>

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#web" aria-controls="web" role="tab" data-toggle="tab">Web config</a></li>
          <li role="presentation"><a href="#drone" aria-controls="drone" role="tab" data-toggle="tab">Drone config</a></li>
          <li role="presentation"><a href="#sensors" aria-controls="sensors" role="tab" data-toggle="tab">Sensors config</a></li>
        </ul>

        <form method="POST" action="/save_config" id="save-config">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="web">
              <div class="form-group">
                <textarea class="form-config" name="web-config" id="web-config">{{WEB_CONFIG}}</textarea>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="drone">
              <div class="form-group">
                <textarea class="form-config" name="drone-config" id="drone-config">{{DRONE_CONFIG}}</textarea>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="sensors">
              <div class="form-group">
                <textarea class="form-config" name="sensors-config" id="sensors-config">{{SENSORS_CONFIG}}</textarea>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-danger">Save and apply</button>
        </form>   

      </div>
    </div>
  
    <div class="row">
    </div>

  </div>

  <script src="static/js/jquery-3.2.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/xtcd.js"></script>
  <script src="static/js/app.js"></script>

  </body>
</html>